.App {
  text-align: center;
}
.todo-list {
  padding: 15px;
  max-height: 300px;
  overflow: auto;
}
.todo-item {
  padding: 15px;
  background-color: #cccccc;
  border: 1px solid #999999;
}
.todo-item--deleted {
  background-color: red;
}
h2 {
  margin: 5px;
}
